@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cart-header .cart-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cart-container,
.cart-items-container,
.empty-cart-container {
  width: 90%;
  margin: auto;
}
.cart-header h1 {
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
  font-family: 'Poppins', Courier, monospace;
}

.cart-title p {
  text-align: center;
  text-transform: uppercase;
  background-color: #222;
  color: #fff;
  font-size: 1rem;
  font-family: 'Poppins', Courier, monospace;
}
.cart-title span {
  color: red;
}
.cart-status {
  display: flex;
  justify-content: center;
  border: 1px dashed;
  padding: 10px 30px;
  flex-wrap: wrap;
}
.cart-status p {
  font-size: clamp(0.9rem, 1vw + 0.5vw, 1.8rem);
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Poppins', Courier, monospace;
  margin-inline: 20px;
}

.complete,
.checkout {
  color: #7a7a7a;
}

.shop-p,
.complete-p {
  color: #7a7a7a;
}
.cart-btn__ {
  padding: 2px 6px;
  margin: 5px 10px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.cart-qty {
  font-size: 1rem;
  font-weight: 400;
}

/* Empty Cart Section */

.empty-cart__first,
.empty-cart__second {
  display: flex;
  padding: 1em 2em 1em 3.5em;
  margin: 15px 0;
  border-top: 3px solid black;
  background-color: #f7f6f7;
}
.empty-cart-img {
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}
.undo-item {
  text-decoration: none;
  color: #222;
  font-weight: 700;
}
.empty-cart-btn {
  display: inline-block;
  background-color: #222;
  color: #fff;
  text-decoration: none;
  padding: 5px 25px 5px 25px;
  font-weight: 500;
}
.cart-image-box {
  display: inline-block;
  margin: 40px auto;
  height: auto;
  max-width: 100%;
}
.empty-cart-image {
  display: flex;
}

/* Cart Items Section */

.cart-table {
  margin: 30px auto;
  width: 90%;
  border: 1px solid #ebebeb;
}

.input-number {
  width: 40px;
}

.cart-title th {
  width: 150px;
  background-color: #f7f6f7;
}
.cart-items-list td {
  text-align: center;
}

.cart-item-coupon {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
.cart-item-coupon__ {
  display: flex;
  gap: 10px;
  margin-left: 5px;
}
.coupon-input {
  padding: 5px 15px;
}
.apply-coupon {
  padding: 5px 25px;
  background: #222;
  color: #fff;
  font-weight: bolder;
  cursor: pointer;
}
.update-cart {
  padding: 5px 25px;
  background: black;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  border: none;
}
.update-cart:hover {
  color: black;
  background-color: pink;
  transition: 0.5s;
}
.cart-item-updatecart {
  display: flex;
  margin-right: 5px;
}
.cart-total-section {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  width: 50%;
  margin-left: auto;
}
.cart-total-container {
  width: 100%;
}
.cart-total-container h2 {
  padding: 10px;
  text-transform: uppercase;
  background-color: #f7f6f7;
  font-weight: 400;
}
.cart-total-table {
  width: 100%;
  border: 2px solid #f7f6f7;
}
.cart-total-table li {
  list-style: none;
}
.cart-total-table td {
  padding-left: 10px;
}

.cart-table-subtotal,
.cart-table-total,
.cart-table-tax {
  padding: 20px 10px;
  text-align: left;
}
.cart-table-shipping {
  padding: 50px 10px;
  text-align: left;
}

.cart-table-checkout {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: #222;
  margin-top: 20px;
}
.cart-table-checkout a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.cart-table-checkout a:hover {
  color: black;
}
.cart-table-checkout:hover {
  color: white;
  background-color: pink;
  cursor: pointer;
  transition: 0.5s;
}

/* Checkout Section */
.checkout-form-container {
  display: flex;
  flex-wrap: wrap;
}
.checkout-container {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.checkout-form {
  width: 40%;
  margin-left: 50px;
}
.checkout-order-container {
  width: 40%;
  margin-left: auto;
}

.checkout-form h2 {
  font-size: 1.3rem;
  padding: 10px 0;
  font-weight: 500;
  text-transform: uppercase;
}
.checkout-name,
.checkout-company,
.checkout-address,
.checkout-town,
.checkout-state,
.checkout-zip,
.checkout-phone,
.checkout-email,
.checkout-order {
  display: flex;
}
.checkout-name,
.checkout-company,
.checkout-address,
.checkout-town,
.checkout-state,
.checkout-zip,
.checkout-phone,
.checkout-email,
.checkout-order label {
  font-weight: 500;
  text-transform: uppercase;
}
.checkout-name input,
.checkout-company input,
.checkout-address input,
.checkout-town input,
.checkout-zip input,
.checkout-phone input,
.checkout-email input,
.checkout-order input {
  padding: 4px;
}
.checkout-state select {
  padding: 4px;
}

.street-address {
  margin-top: 5px;
}
.checkout-company,
.checkout-address,
.checkout-town,
.checkout-state,
.checkout-zip,
.checkout-phone,
.checkout-email,
.checkout-order {
  flex-direction: column;
  margin-top: 5px;
}
.checkout-order {
  margin-top: 20px;
}
.checkout-form-right {
  width: 100%;
}
.label-lastname {
  margin-left: 10px;
}
.name-input {
  width: 100%;
}
.button-payment {
  border: none;
  color: white;
  background-color: transparent;
}
.button-payment:hover {
  color: black;
  cursor: pointer;
  transition: 0.5s;
}
.checkout-form-right h2 {
  font-size: 1.3rem;
  padding: 10px 0;
  font-weight: 500;
  text-transform: uppercase;
}

.checkout-table {
  width: 100%;
  border: 2px solid #f7f6f7;
}
.checkout-table li {
  list-style: none;
}
.checkout-table th {
  text-align: center;
  padding: 30px 10px;
  text-transform: uppercase;
  border-bottom: 2px solid #f7f6f7;
  color: rgb(49, 47, 47);
}

.checkout-table td {
  text-align: center;
  padding: 20px 10px;
  font-weight: 500;
  border-bottom: 2px solid #f7f6f7;
}

.check-out-payment {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: #222;
  margin-top: 20px;
}
.check-out-payment:hover {
  background-color: pink;
  cursor: pointer;
  transition: 0.5s;
}
.check-out-payment a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

@media screen and (max-width: 1100px) {
  .cart-total-section {
    width: 90%;
    margin: 30px auto;
  }

  .checkout-order-container {
    width: 60%;
    margin: 20px auto;
  }

  .checkout-form {
    width: 60%;
    margin: 20px auto;
  }
}

@media screen and (max-width: 768px) {
  .checkout-order-container {
    width: 100%;
    margin: 20px auto;
  }

  .checkout-form {
    width: 100%;
    margin: 20px auto;
  }

  .checkout-name {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .checkout-name div {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .cart-table {
    border: 0;
  }
  .cart-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .cart-table tr {
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
    padding: 15px;
  }
  .cart-table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1rem;
    text-align: right;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
  }
  .cart-item-images {
    margin: auto;
    width: 60px;
  }
  .cart-table td::before {
    content: attr(data-label);
    /* float: left; */
    font-weight: bold;
  }
  .cart-table td:last-child {
    border-bottom: none;
  }
}

.cart-delete-img {
  transition: 0.5s;
}

.cart-delete-img:hover {
  cursor: pointer;
  background-color: #e0e0e0;
  border-radius: 10px;
}
